# RINGKASAN MATERI

1. DEFINISI

-Array (Python): Struktur data untuk menyimpan dan mengorganisasi kumpulan data.

-Data Structure: Penting bagi programmer untuk memahami dan menguasai cara menyimpan, mengatur, mengelompokkan, dan merepresentasikan data.

2. SET

-Set: Tipe data kolektif dalam Python yang digunakan untuk menyimpan beberapa nilai dalam satu variabel dengan ketentuan:

1) Nilai unik: Tidak ada duplikasi.

2) Tidak dapat diubah: Nilai yang sudah dimasukkan tidak bisa diubah lagi.

3) Tidak berurutan: Tidak dapat diakses dengan indeks

-Menggunakan kurung kurawal:

In [4]:
student_set = {'Huda', 'Lendis', 'Wahid', 'Basith'}
print(student_set)

{'Basith', 'Wahid', 'Lendis', 'Huda'}

-Mengubah list menjadi set:

In [5]:
fruit_set = set(['mango', 'Apple'])
print(fruit_set)

{'mango', 'Apple'}

-Set dengan berbagai tipe data:

In [6]:
set_mix = {'man', 'animal', 5, True, ('A', 'B')}
print(set_mix)

{('A', 'B'), True, 5, 'man', 'animal'}

# KARAKTERISTIK SET:

A. Tidak Berurutan

-Tidak dapat menggunakan indeks untuk mengakses nilai dalam set:

contoh kesalahan:

In [7]:
my_set = {'a'}
print(my_set[0])  # Error: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

B. Tidak Dapat Diubah

-Anggota set harus dari tipe data immutable:

contoh valid:

In [8]:
set_fruit = {'mango', 'lemon', 'avocado', True, 1, 2, 3}

contoh tidak valid:

In [9]:
x = set([35, 100, ['a', 'b']])  # Error: unhashable type: 'list'

TypeError: unhashable type: 'list'

C. Tidak Ada Nilai Duplikat

-Set tidak menerima nilai duplikat:

contoh:

In [10]:
unique_word = {'morning', 'this', 'is', 'morning', 'which', 'very', 'bright'}
print(unique_word)  # Output: {'that', 'very', 'this', 'morning', 'sunny', 'is'}

{'is', 'bright', 'morning', 'which', 'very', 'this'}

KESIMPULAN:

Set pada Python adalah struktur data yang unik karena tidak mendukung nilai duplikat, tidak bisa diakses dengan indeks, dan anggotanya harus immutable. Memahami dan menguasai penggunaan set sangat penting bagi programmer untuk mengelola data secara efisien.

# MENAMBAHKAN/MEMPERBARUI ELEMEN SET

-Penambahan Set:

1) Elemen dapat ditambahkan ke set menggunakan metode add() dan update().

2) add(element) menambahkan satu elemen ke set.

3) update(iterable) dapat menambahkan beberapa elemen sekaligus dari set lain atau daftar.

contoh:

In [11]:
alphabet_set = {'a', 'b', 'c'}
print(alphabet_set)  # Output: {'a', 'c', 'b'}

alphabet_set.add('d')
alphabet_set.add('e')
alphabet_set.update({'f', 'g'})
alphabet_set.update(['h', 'i'])

print(alphabet_set)  # Output: {'d', 'i', 'e', 'a', 'b', 'g', 'h', 'f', 'c'}

{'b', 'c', 'a'}
{'d', 'a', 'g', 'e', 'c', 'f', 'i', 'b', 'h'}

# MENGHAPUS/MENGELUARKAN ELEMEN SET

-Penghapusan Set:

1) remove(value): Menghapus nilai yang ditentukan. Menghasilkan error jika nilai tidak ada.

2) discard(value): Menghapus nilai yang ditentukan. Tidak menghasilkan error jika nilai tidak ada.

3) pop(): Menghapus dan mengembalikan elemen sembarang dari set.

4) clear(): Menghapus semua elemen dari set.

contoh:

In [12]:
set_example = {'virtual', 'virtuous', 100, ('a', 'b'), False, True}
print(set_example)  # Output: {False, True, 100, 'maya', 'budi', ('a', 'b')}

set_example.remove(100)
print(set_example)  # Output: {False, True, 'maya', 'budi', ('a', 'b')}

set_example.discard(('a', 'b'))
print(set_example)  # Output: {False, True, 'maya', 'budi'}

removed_value = set_example.pop()
print(f"Removed value = {removed_value}")
print(set_example)  # Output: {True, 'maya', 'budi'}

set_example.clear()
print(set_example)  # Output: set()

{False, True, 100, 'virtual', ('a', 'b'), 'virtuous'}
{False, True, 'virtual', ('a', 'b'), 'virtuous'}
{False, True, 'virtual', 'virtuous'}
Removed value = False
{True, 'virtual', 'virtuous'}
set()

# Fungsi Bawaan:

1) add(): Menambahkan satu elemen ke set.

2) clear(): Menghapus seluruh set.


Kesimpulannya, gambar-gambar tersebut memberikan gambaran umum tentang cara memanipulasi set di Python, termasuk menambahkan, memperbarui, dan menghapus elemen, bersama dengan deskripsi fungsi-fungsi utama yang digunakan untuk melakukan operasi ini.

* copy() : Make acopy of one set into a new set
* difference() : Performing the difference operation between two sets
* difference_update() : Delete other set members that sre in the curent set
* discard() : Removing one member from the set
* intersection() : Performing a slice operation between two sets
* intersection_update() : Updating the member that is the slice of two
* isdisjoint() : Returns value True if two sets have no slice
* issusbset() : Returns value True if another set has members from the current set
* issuperset() : Returns value True if the current set has members from another set
* pop() : Removes and returns deleted values from a set
* remove() : Removing a value from a set

* symmetric difference() : Perform the complement operation between two sets
* symmetric difference_update() : Updating the set of complement results
* union() : Performs a joint operation of two or more sets
* update() : Updating the set by adding a specified value